*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    height: 100%;
    width: 100%;
}
body{
    background-color: rgb(0, 208, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    /* overflow: hidden; */
}
.card{
    height: 400px;
    width: 330px;
    background-color: #fff;
    border: 2px solid black;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
}
.storiya{
    width: 100%;
    height: 100px;
    /* background-color: red; */
    border: 1px solid #ddd;
    /* display: flex; */
    /* align-items: center; */
    padding: 17.5px;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    /* justify-content: space-evenly; */
}
.storiya::-webkit-scrollbar{
    display: none;
}
.stroy{
    height: 70px;
    width: 70px;
    /* background-color: blue; */
    border: 3px solid red;
    border-radius: 50%;
    display: inline-block;
    overflow: hidden;
    margin-right: 6px;
}
.stroy img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
}
.full-story{
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
    background-size: cover;
    background-position: center;
    position: absolute;
    display: none;

}